<?xml version="1.0"?>

<model>
  <name>Robot Raconteur iRobot Create</name>
  <version>1.0</version>
  
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Wason</name>
    <email>wason@wasontech.com</email>
  </author>

  <description>
    A model of the iRobot Create with camera mast.
  </description>

  <depend>
  </depend>
</model>
