<?xml version="1.0" ?>
<model>
    <name>landmark</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>oKermorgant</name>
        <email></email>
    </author>
    <description>Chessboard calibration landmark taken from https://github.com/oKermorgant/calibration_gazebo</description>
</model>
